[submodule "external/OpenXR-SDK"]
	path = external/OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
[submodule "external/SDL2"]
	path = external/SDL2
	url = https://github.com/libsdl-org/SDL.git
